.List {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-space8);
  padding: 0;

  @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.ListItem {
  width: 214px;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.ListItemLink {
  cursor: pointer;
  text-decoration: none !important;

  &:hover {
    div {
      filter: grayscale(0.05);

      img {
        transform: scale(1.02) translateY(-5px);
        // box-shadow: var(--shadows-shadow5);
      }
    }

    strong {
      color: var(--colors-purple9);
    }
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.ListVisual {
  padding: var(--space-space10) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-purple3);
  border-radius: var(--radii-radius5);
  margin-bottom: var(--space-space8);
  transition: filter 200ms ease-in-out;
  transition: background-color 0.4s ease-in-out;

    &:hover{
      background-color: var(--colors-purple9);
    }
}


.ListVisualImage {
  // box-shadow: var(--shadows-shadow3);
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  height: 64px;
  width: 64px;
}

.ListItemNameContainer {
  display: block;

  @media only screen and (max-width: 768px) {

    span {
      width: fit-content;
    }
  }
}

.ListItemNameWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ListItemName {
  color:  var(--colors-mauve12);
  font-weight: var(--fontWeights-semi);
  line-height: var(--lineHeights-fit);
  letter-spacing: -0.15px;
  display: block;
  margin-bottom: var(--space-space1);
  transition: color 200ms ease-in-out;
}

.ListItemDescription {
  color: var(--colors-mauve11);
  letter-spacing: -0.15px;
  font-size: 15px;
}

.HeadingContainer {
  margin-bottom: var(--space-space9);
  text-align: center;
  h2 {
    margin-bottom: 0;
  }
}