.List {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--space-space8);
  padding: 0;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.ListItem {
  height: 150px;
}

.ListItemLink {
  cursor: pointer;
  text-decoration: none !important;

  &:hover {
    div {
      filter: grayscale(0.05);

      img {
        transform: scale(1.02) translateY(-5px);
      }
    }

    strong {
      color: var(--colors-primary11);
    }
  }
}

.ListVisual {
  padding: var(--space-space5) 0;
  height: 100px;
  padding: var(--space-space5) var(--space-space5);
  background-color: var(--colors-primary3);
  border-radius: var(--radii-radius5);
  transition: filter 100ms ease-in-out;
  transition: background-color 0.4s ease-in-out;
  display: flex;
  flex-direction: row;
  gap: var(--space-space5);

  &:hover{
    background-color: var(--colors-primary6);
  }
}

.ListVisualImage {
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  height: 32px;
  width: 32px;
}

.ListItemNameContainer {
  display: block;

  @media only screen and (max-width: 768px) {

    span {
      width: fit-content;
    }
  }
}

.ListItemNameWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ListItemName {
  color:  var(--colors-olive12);
  font-weight: var(--fontWeights-semi);
  line-height: var(--lineHeights-fit);
  letter-spacing: -0.15px;
  display: block;
  margin-bottom: var(--space-space1);
  transition: color 200ms ease-in-out;
}

.ListItemDescription {
  color: var(--colors-olive11);
  letter-spacing: -0.15px;
  font-size: 15px;
}

.HeadingContainer {
  margin-bottom: var(--space-space9);
  text-align: center;
  h2 {
    margin-bottom: 0;
  }
}
