{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "proseWrap": "never",
  "useTabs": false,
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "cursorOffset": -1,
  "insertPragma": false,
  "requirePragma": false
}
