.mdx-content,
[data-mode="custom"] .container {
  max-width: 92rem !important;
  min-width: 800px;
  margin: 0 auto;
}

#topbar-cta-button > a > span {
  background-color: #09343C !important;
  color: white !important;
}

.img.nav-logo {
  height: 32px;
}

.link-list a {
  position: relative;
  transition: all 0.2s ease;
  padding-right: 20px;
}

.link-list a:hover {
  color: #09343C;
  transform: translateX(4px);
}

.link-list a:after {
  content: "→";
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.link-list a:hover:after {
  opacity: 1;
}