.mdx-content,
[data-mode="custom"] .container {
  max-width: 1200px !important;
  min-width: 800px;
  margin: 0 auto;
}

#topbar-cta-button > a > span {
  background-color: #09343C !important;
  color: white !important;
}

.nav-logo > img {
  height: 32px;
}