.StyledSwitcherPlaceholder {
  display: flex;
  align-items: center;
  height: 100%;
}

.Placeholder {
  text-decoration: none  !important;
  color: var(--colors-primary11);
  cursor: pointer;
  font-weight: var(--fontWeights-slim);
  font-family: var(--fonts-poly);
  line-height: var(--lineHeights-fit);
  font-size: 24px;
  display: block;
  user-select: none;
  margin-left: 20px;
}
