.StyledBadge {
  font-weight: var(--fontWeights-semi);
  font-size: var(--fontSizes-fontSize1);
  letter-spacing: 0.5px;
  padding: var(--space-space2);
  line-height: var(--lineHeights-fit);
  text-transform: uppercase;
  display: block;
  border-radius: var(--radii-radius1);
  pointer-events: none;
  user-select: none;

  &[data-type="soon"] {
    background-color: rgba(255, 187, 1, 0.17);
    color: rgba(171, 83, 0, 0.98);
  }

  &[data-type="legacy"] {
    background-color: rgba(2, 192, 213, 0.09);
    color: #00718D;
  }
}
