.StyledGetStarted {
  --negative-margin: 276px;
  position: relative;
  margin-bottom: var(--negative-margin);
  padding: var(--space-space14) 0;
  background-size: 64px 64px, 64px 64px, 20px 20px, 20px 20px;

  @media only screen and (max-width: 768px) {
    padding: var(--space-space12) 0;
  }
}

.Card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  box-shadow: 0px 283px 113px rgba(85, 48, 247, 0.01), 0px 159px 95px rgba(85, 48, 247, 0.03), 0px 71px 71px rgba(85, 48, 247, 0.05), 0px 18px 39px rgba(85, 48, 247, 0.06), 0px 0px 0px rgba(85, 48, 247, 0.06);
  margin-bottom: calc(var(--negative-margin) * -1);
  border-radius: var(--radii-radius7);
  z-index: var(--zIndicies-zIndex1);

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.CardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-space12);

  @media only screen and (max-width: 768px) {
    padding: var(--space-space9);
  }
}

.CardTitle {
  color: var(--colors-mauve12);
  font-size: var(--fontSizes-fontSize8);
  font-weight: var(--fontWeights-semi);
  margin-bottom: var(--space-space3);
  line-height: 45px;

  @media only screen and (max-width: 768px) {
    font-size: var(--fontSizes-fontSize9);
  }
}

.CardParagraph {
  color: var(--colors-mauve11);
  font-size: var(--fontSizes-fontSize4);
  margin-bottom: var(--space-space8);
  display: block;

  @media only screen and (max-width: 768px) {
    font-size: var(--fontSizes-fontSize3);
  }
}

.PlatformVisualContainer {
  display: flex;
  align-items: flex-end;
  cursor: pointer;  
  overflow: hidden;
  padding-top: var(--space-space12);

  &:hover img {
    transform: translateY(-10px);
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.PlatformVisual {
  border-bottom-right-radius: var(--radii-radius7);
  margin-bottom: -10px;
  transition: transform 200ms ease-in-out;
  display: block;
}

.LightbeamVisual {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}