.StyledBoxLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: var(--space-space8);
  border-radius: var(--radii-radius5);
  border: 1px solid var(--colors-olive4);
  overflow: hidden;
}

.LinkIconWrapper {
  display: flex;
  width: var(--space-space11);
  height: var(--space-space11);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 6px 12px -3px #1018281A;
  margin-bottom: var(--space-space13);
  flex-shrink: 0;
  background-color: #fff;
}

.LinkIcon {
  display: block;
  width: var(--space-space8);
  height: var(--space-space8);
}

.LinkTitle {
  font-weight: 500;
  font-size: var(--fontSizes-fontSize4);
  margin-bottom: 10px;
}

.LinkDescription {
  color: var(--custom-color-tertiary-text);
  margin-bottom: 0;
}