.StyledHero {
  position: relative;
}

.ContentContainer {
  padding: var(--space-space16) 0;
  z-index: 1;
  position: relative;
}

.Heading {
  font-size: var(--fontSizes-fontSize14);
  font-weight: var(--fontWeights-semi);
  color: var(--colors-olive12);
  line-height: var(--lineHeights-fit);
  text-align: center;
  display: block;
  margin-bottom: var(--space-space6);

  @media only screen and (max-width: 768px) {
    font-size: var(--fontSizes-fontSize10);
  }
}

.Paragraph {
  font-size: var(--fontSizes-fontSize5);
  color: var(--colors-olive11);
  text-align: center;
  display: block;
  margin-bottom: var(--space-space10);

  @media only screen and (max-width: 768px) {
    font-size: var(--fontSizes-fontSize4);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
