
.StyledHero {
  position: relative;
}

.LightbeamVisual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 300ms 0ms both;
}

.ContentContainer {
  padding: var(--space-space16) 0;
  z-index: 1;
  position: relative;
}

.Heading {
  font-size: var(--fontSizes-fontSize14);
  font-weight: var(--fontWeights-semi);
  color: var(--colors-mauve12);
  line-height: var(--lineHeights-fit);
  text-align: center;
  display: block;
  margin-bottom: var(--space-space6);
}

.Paragraph {
  font-size: var(--fontSizes-fontSize5);
  color: var(--colors-mauve11);
  text-align: center;
  display: block;
  margin-bottom: var(--space-space10)
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
