.List {
  list-style-type: none;
  display: flex;
  gap: var(--space-space8);
  padding: 0 0 var(--space-space14) 0;

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
    margin-bottom: var(--space-space9);
    padding: 0 0 var(--space-space9) 0;
  }
}

.ListItem {
  width: 100%;
  border: 1px solid var(--colors-olive4);
  border-radius: var(--radii-radius5);
  padding: var(--space-space8);
  background-color: var(--colors-olive3);
  box-shadow: var(--shadows-shadow1);
}

.ListItem > span {
  font-size: var(--fontSizes-fontSize5);
}

.ListItem > p {
  color: var(--colors-olive10);
}

.ListItem > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ListItemTitle  {
  color: var(--colors-olive12);
  transition: color 200ms ease-in-out;
  display: flex;
  align-items: center;
}

.ListItemTitle .ListItemArrow {
  color: var(--colors-olive10);
  padding-right: 10px;
}
