.StyledHeading {
  font-size: var(--fontSizes-fontSize8);
  font-weight: var(--fontWeights-bold);
  color: var(--colors-olive12);
  line-height: var(--lineHeights-fit);
  display: block;
  margin-bottom: var(--space-space9);
}
