.StyledHeading {
  font-size: var(--fontSizes-fontSize9);
  font-weight: var(--fontWeights-semi);
  color: var(--colors-mauve12);
  line-height: var(--lineHeights-fit);
  display: block;
  margin-bottom: var(--space-space9);
}
