.StyledSearchInput {
  position: relative;
  cursor: pointer;

  &[data-compact="true"] {
    background-color: var(--colors-mauve3);
    border-radius: var(--radii-radius4);
    padding: var(--space-space4) var(--space-space4) var(--space-space4) var(--space-space10); 
    font-size: var(--fontSizes-fontSize2);
    font-weight: var(--fontWeights-medium);
    color: var(--colors-mauve11);
    box-shadow: var(--shadows-shadow1);
  }

  &[data-compact="false"] {
    background-color: #fff;
    border-radius: var(--radii-radius4);
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: var(--space-space7) var(--space-space7) var(--space-space7) var(--space-space12);
    width: 600px;
    margin: 0 auto;
    transition: box-shadow 200ms ease-in-out;

    &:hover {
      box-shadow: 0px 65px 26px rgba(76, 64, 231, 0.01), 0px 36px 22px rgba(76, 64, 231, 0.05), 0px 16px 16px rgba(76, 64, 231, 0.09), 0px 4px 9px rgba(76, 64, 231, 0.1), 0px 0px 0px rgba(76, 64, 231, 0.1);
    }
  }

  @media only screen and (max-width: 768px) {
    width: 100% !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
}

.SearchInputIcon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  &[data-compact="true"] {
    left: var(--space-space5);
  }

  &[data-compact="false"] {
    left: var(--space-space9);
  }
}

.SearchInputText {
  all: unset;
  pointer-events: none;
}

.SearchInputShortcut {
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: var(--space-space2);

  &[data-compact="true"] {
    right: var(--space-space5);
  }

  &[data-compact="false"] {
    right: var(--space-space9);
  }
}

.SearchInputShortcutKey {
  border-radius: var(--radii-radius1);
  font-size: var(--fontSizes-fontSize1);
  font-weight: var(--fontWeights-bold);
  color: var(--colors-mauve10);
  line-height: var(--lineHeights-fit);
  text-transform: uppercase;
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadows-shadow1);

  &[data-compact="true"] {
    background-color: #fff;
  }

  &[data-compact="false"] {
    background-color: var(--colors-mauve2);
  }
}
