.List {
  list-style-type: none;
  display: flex;
  gap: var(--space-space8);
  padding: 0 0 var(--space-space14) 0;

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
    margin-bottom: var(--space-space9);
    padding: 0 0 var(--space-space9) 0;
  }
}

.ListItem {
  width: 100%;
}

.ListItemLink {
  cursor: pointer;
  text-decoration: none !important;
  padding: var(--space-space8);
  border-radius: var(--radii-radius5);
  background-color: #fff;
  border: 1px solid var(--colors-mauve4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadows-shadow1);

  &[data-disabled='true'] {
    pointer-events: none;
  }

  &:hover {
    strong: {
      color: var(--colors-purple9);
    }

    .ListItemTitleArrow {
      opacity: 1;
      transform: rotate(0deg) translateX(5px);
    }
  }
}

.ListItemTitleArrow {
  width: 16px;
  height: 16px;
  margin-left: var(--space-space4);
  opacity: 0;
  transform: rotate(0deg);
  transition: transform 250ms ease-out, opacity 200ms ease-out;
  margin-top: 2px;
}

.ListItemTitleContainer {
  display: flex;
  align-items: center;
}

.ListItemTitle  {
  color: var(--colors-mauve12);
  margin-left: var(--space-space5);
  transition: color 200ms ease-in-out;
  display: flex;
  align-items: center;
}
