.title {
  font-size: var(--fontSizes-fontSize5);
  font-family: var(--ifm-heading-font-weight);
  margin-bottom: 0.5rem;
  display: block;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}