.StyledDesktop {
  padding: var(--space-space9);
  border: 1px solid var(--colors-mauve4);
  border-radius: var(--radii-radius6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-space14);

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.Content {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.Icon {
  margin-right: var(--space-space6);
}

.TitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    margin-top: var(--space-space6);
    margin-bottom: var(--space-space9);
  }
}

.Title {
  color: var(--colors-mauve12);
}

.Paragraph {
  color: var(--colors-mauve11);
  margin: 0;
}
