.StyledNavLinks {
  list-style-type: none;
  display: flex;
  gap: var(--space-space9);
  align-items: center;
}

.NavLink {
  cursor: pointer;
  color: var(--colors-mauve12);
  text-decoration: none !important;
  font-weight: var(--fontWeights-medium);
  font-size: var(--fontSizes-fontSize2);
  transition: color 200ms ease-in-out;
}

.NavLinkMobile {
  display: none;
  
  @media only screen and (max-width: 768px) {
    display: block;

    a {
      font-size: var(--fontSizes-fontSize2);
      color: var(--colors-mauve12);
      display: block;
    }

    &[data-divider="true"] {
      padding-top: var(--space-space6);
      margin-top: var(--space-space6);
      border-top: 1px solid var(--colors-mauve4);
    }
  }
}