:root {
  --ifm-color-info-dark: rgba(2, 133, 254, 1);
  --ifm-color-info-contrast-foreground: #014CB6;
  --ifm-color-info-contrast-background: #F2F9FF;

  --ifm-color-tip-dark: rgba(18, 183, 106, 1);
  --ifm-color-tip-contrast-foreground: #027A48;
  --ifm-color-tip-contrast-background: #F6FEF9;

  --ifm-color-warning-dark: rgba(247, 144, 9, 1);
  --ifm-color-warning-contrast-foreground: #B54708;
  --ifm-color-warning-contrast-background: #FFFCF5;

  --ifm-color-danger-dark: rgb(9, 52, 60, 1);
  --ifm-color-danger-contrast-foreground: #09343C;
  --ifm-color-danger-contrast-background: #eeffe1;
  
  --ifm-alert-padding-vertical: 1.5rem;
  --ifm-alert-padding-horizontal: 1.5rem;
}

.alert span {
  display: none;
}