.List {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 0 0 var(--space-space14) 0;

  @media only screen and (max-width: 768px) {
    margin-bottom: var(--space-space9);
    padding: 0 0 var(--space-space9) 0;
  }
}

.Title {
  font-weight: 500;
  font-size: 24px;
}

.Description {
  color: var(--custom-color-tertiary-text);
}

.ListItemWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &:not(:last-of-type) {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--custom-color-border-secondary);
  }
}

.ListItemLeft {
  flex-basis: 30%;
}

.ButtonsList {
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-end;
}

.ListItem > span {
  font-size: var(--fontSizes-fontSize5);
}

.ListItem > p {
  color: var(--colors-olive10);
}

.ListItem > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ListItemTitle  {
  color: var(--colors-olive12);
  transition: color 200ms ease-in-out;
  display: flex;
  align-items: center;
}

.ListItemTitle .ListItemArrow {
  color: var(--colors-olive10);
  padding-right: 10px;
}
