.StyledCommunity {
  margin-bottom: var(--space-space14);
}

.List {
  list-style-type: none;
  display: flex;
  gap: var(--space-space8);
  padding: 0;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.ListItem {
  width: 100%;
  border-radius: var(--radii-radius3);
  border: 1px solid var(--colors-mauve4);
}

.ListItemVisual {
  background-color: var(--colors-mauve2);
  padding: var(--space-space12) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms ease-in-out;
}

.ListItemLink {
  cursor: pointer;
  text-decoration: none !important;

  &:hover {
    strong: {
      color: var(--colors-purple9);
    }

    .ListItemVisual {
      background-color: var(--colors-mauve3);
    }
  }
}

.ListItemContent {
  padding: var(--space-space8)
}

.ListItemTitle {
  color: var(--colors-mauve12);
  font-size: var(--fontSizes-fontSize5);
  line-height: var(--lineHeights-fit);
  margin-bottom: var(--space-space8);
  display: block;
  transition: color 200ms ease-in-out;
}

.ListItemParagraph {
  color: var(--colors-mauve11);
}
