.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-space9);

  nav {
    margin-bottom: 0;
  }
}

.switchContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  font-size: 14px;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}
