name: Check Markdown links
permissions:
  contents: read

on: pull_request

jobs:
  markdown-link-check:
    runs-on: runs-on,runner=standard,run-id=${{ github.run_id }}
    steps:
    - uses: actions/checkout@master
    - uses: tcort/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'yes'
        base-branch: 'main'